.nav-icons {
  margin: 8px 0 0;
  .icon-block {
    display: inline-block;
    margin: 0 5px;
    @include border-radius (50%);
    text-align: center;
    font-size: 14px;
    position: relative;
    color: #9d9d9d;
    cursor: pointer;

    a {
      color: inherit;
      .glyphicon {
        margin-right: 5px;
      }
      &.link-icon-elem {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: 1;
      }

      &:hover {
        color: #fff;
      }
    }

    &.withbg {
      background: $navIconBg;
      height: 35px;
      width: 35px;
      line-height: 35px;
      font-size: 12px;
      color: #fff;
      @include transition(all,0.3s);

      a {
        opacity: 0.8;
      }
      &:hover {
        a {
          opacity: 1;
        }
      }
    }


    &.user-link-block {
      .primary-link {
        margin: 0 10px;
      }
    }

    &.cart-icon-block {
      .badge {
        background: $cartQtyBg;
        border-radius: inherit;
        color: $cartQtyColor;
        font-size: 10px;
        font-weight: normal;
        height: 16px;
        letter-spacing: -0.04em;
        line-height: 16px;
        padding: 0;
        position: absolute;        
        right: -4px;
        width: 16px;
      }
    }
  } 
}