.nav-icons {
  margin: 8px 0 0;
  .icon-block {
    display: inline-block;
    margin: 0 5px;
    @include border-radius (50%);
    text-align: center;
    font-size: 14px;
    position: relative;
    color: #9d9d9d;
    cursor: pointer;

    .elem {
      color: inherit;
      margin-bottom: 0;
      .glyphicon {
        margin-right: 5px;
      }
      &.link-icon-elem {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: 1;
      }

      &:hover {
        color: #fff;
      }
    }

    &.withbg {
      background: $navIconBg;
      height: 35px;
      width: 35px;
      line-height: 35px;
      font-size: 12px;
      color: #fff;
      
      .glyphicon {
        @include transition(all,0.3s);
      }

      &:hover {
        .glyphicon {
          @include scale(1.2);
        }
      }
    }

    &.user-link-block {
      .primary-link {
        margin: 0 10px;
      }
    }

    &.cart-icon-block {
      .badge {
        background: $cartQtyBg;
        border-radius: inherit;
        color: $cartQtyColor;
        font-size: 10px;
        font-weight: normal;
        height: 16px;
        letter-spacing: -0.04em;
        line-height: 16px;
        padding: 0;
        position: absolute;        
        right: -4px;
        width: 16px;
      }
    }
  } 
}

.search-inline-form {
  
  .form-control {
    @include border-radius(50px);
    width: 0;
    position: absolute;
    right: 0px;
    top: -3px;
    opacity: 0;
    @include transition(all, 0.5s);
    z-index: -1;

    &:focus {
      width: 300px;
      opacity: 1;
      z-index: 1;
    }
  }
}