.product-list {
  @include flex();
  @include flex-row();
  @include flex-wrap();
  padding: 15px 0 0 0;

  .thumbnail {
    @include border-radius(0);
    @include box-shadow(0, 0, 0, 0);
    @include transition(all,0.3s);
    padding: 0;
    background: transparent;
    border: none;
    
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover{
      a {
        color: $link-color;
      }

      .hover-info {
        top: 70%;
        opacity: 1;
      }

      .product-tile-image {
        @include scale(1.2);
      }
    }
  }
  .caption {
    display: block;
    padding: 10px 0;
  }

  
  .thumb-img-block {
    position: relative;
    background: #fcfcfc;
    padding: 20px;
    @include flex();
    align-items:center;
    justify-content:center;
    min-height: 300px;
    overflow: hidden;

    .product-link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    
    .product-tile-image {
      @include transition(all,5s);
      @include scale(1);
    }
  }
  .product-text-info {
    font-size: 16px;
    font-weight: 400;
    background: $productInfoBg;
    padding: 15px;

    .caption-info {
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  .hover-info {
    top: 0;
    bottom: inherit;
    @include transition(all,0.5s);
    position: absolute;
    opacity: 0;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%,0);

    .info-elem {
      width: 30px;
      height: 30px;
      display: inline-block;
      margin: 5px;
      cursor: pointer;
      @include border-radius(50%);
      background: #f7f7f7;
      text-align: center;
      line-height: 33px;

      &:hover {
        background: $link-color;
        color: #fff;
      }

    }
  }
}