.thumbnail-block-container {
  display: inline-block;
  padding: 15px 0 0 0;

  .thumbnail {
    @include box-shadow(0, 0, 0, 0);
    @include transition(all,0.3s);
    float: none;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 0 5px 10px;

    img {
    }
    &:hover {
      @include scale(1.05);
      border-color: $link-color;
    }
  }
}

.product-detail-section {
  padding-top: 30px;
}
.product-detail-tab {
  padding: 10px 0 20px;
}
.product-desc {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-achievement-row {
  background: $achievement-row-color;
}
.color-row {
  padding: 15px 0;
  .badge {
    width: 30px;
    height: 30px;
    margin: 5px 8px;
    display: inline-block;
    @include border-radius(50%);
    @include transition(transform, 0.5s);
    @include box-shadow(0,0,3px, rgba(0,0,0,0.5));
    position: relative;
    cursor: pointer;
    &:hover:not(.active) {
      @include scale(1.4);
      z-index: 1;
    }
    &.active {
      border: solid 2px #fff;
      cursor: not-allowed;
    }
  }
}


@media(min-width: 768px) {
  .product-row {
    height: calc(100vh - 50px);
    @include flex();

    .product-top-col {
      @include align-self(center);
      .cart-big-btn {
        margin-top: 30px;
        padding: 20px 30px;
        font-size: 25px;
      }
    }
  }
  .product-achievement-row {
    .achievement-col {
      padding: 50px;
      @include flex();

      + .achievement-col {
          border-left: solid 2px #fff;
        }
    }
  }
}