.icon-start {
  position: absolute;
  left: 50%;
  @include translatePos(-50%,0);
  z-index: 10;
  cursor: pointer;
  bottom: 10px;
}

.icon-arrow-hint {
  color: $baseFontColor;
  display: block;
  opacity: 1;
  margin-bottom: 20px;
  font-size: 16px;
}

.animated-arrow-1 {
  -webkit-animation: animate-arrow-1 4s infinite ease-out;
  animation: animate-arrow-1 4s infinite ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.animated-arrow-2 {
  -webkit-animation: animate-arrow-2 4s infinite ease-in;
  animation: animate-arrow-2 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.7;
}

@-webkit-keyframes animate-arrow-1 {
  0% {
    opacity: 0;
    @include translatePos(0, 0);
  }
  90% {
    opacity: 0;
    @include translatePos(0, 0);
  }
  100% {
    opacity: 1;
    @include translatePos(0, 35px);
  }
}

@keyframes animate-arrow-1 {
  0% {
    opacity: 0;
    @include translatePos(0, 0);
  }
  90% {
    opacity: 0;
    @include translatePos(0, 0);
  }
  100% {
    opacity: 1;
    @include translatePos(0, 35px);
  }
}

@-webkit-keyframes animate-arrow-2 {
  0% {
    opacity: 1;
    @include translatePos(0, 0);
  }
  90% {
    opacity: 1;
    @include translatePos(0, 0);
  }
  100% {
    opacity: 0;
    @include translatePos(0, 35px);
  }
}

@keyframes animate-arrow-2 {
  0% {
    opacity: 1;
    @include translatePos(0, 0);
  }
  90% {
    opacity: 1;
    @include translatePos(0, 0);
  }
  100% {
    opacity: 0;
    @include translatePos(0, 35px);
  }
}
