.badge {
  &.pruple {
    background-color: #8972b0;    
  }
  &.blue {
    background-color: #00a4d8;
  }
  &.green {
    background-color: #68b14b;
  }
  &.pink {
    background-color: #f087b1;
  }
  &.black {
    background-color: #000000;
  }
}