$bodyBg: #f4f7f6;
$baseFontColor: #5a5a5a;
$logoBaseBg: #783f6a;
$link-color: #4eaf79;

/*modal overlay color*/
$overlayBg : rgba(120, 63, 106, 0.9);

/*navigation variables*/
$navBarBg: rgba(0,0,0,0.8);
$navLinkColor : #fff;
$navIconBg: #783f6a;
$cartQtyBg: #fff;
$cartQtyColor: #000;

/*product box*/
$productInfoBg: #E6EAEA;

