$bodyBg: #f6f6f6;
$baseFontColor: #5a5a5a;
$logoBaseBg: #783f6a;


/*navigation variables*/
$navBarBg: rgba(255,255,255,0.1);
$navLinkColor : #fff;
$navIconBg: #783f6a;
$cartQtyBg: #fff;
$cartQtyColor: #000;

