.product-loader {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  align-items:center;
  @include flex();
  top: 0;
  left: 0;
  text-align: center;
   
   .loading-block {   
    flex-grow: 1;

    img {
      width: 50px;
    }
  }
}

.infinite-loader {
  position: fixed;
  left: 0;
  right: 0;
  background: $overlayBg;
  z-index: 99;
  bottom: 0;
  text-align: center;
  padding: 20px 10px;
  color: #fff;

  .rotate-animation {
    margin: 0 5px;
    vertical-align: middle;
  }
}

.rotate-animation{
  @include animation(spin, 2000ms, infinite, linear);
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}