@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-top-right-radius($radius);
}

@mixin transition($all, $time) {
  -moz-transition: $all $time;
  -ms-transition: $all $time;
  -webkit-transition: $all $time;
  transition: $all $time;
}

@mixin scale($val) {
  -webkit-transform: scale($val);
    -moz-transform: scale($val);
      -o-transform: scale($val);
          transform: scale($val);
}

@mixin rotate($val) {
 -webkit-transform: rotate($val);
    -moz-transform: rotate($val);
      -o-transform: rotate($val);
          transform: rotate($val); 
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
    -moz-transform: translate3d($x, $y, $z);
      -o-transform: translate3d($x, $y, $z);
        transform: translate3d($x, $y, $z);
}

@mixin translatePos($x, $y) {
  -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
      -o-transform: translate($x, $y);
        transform: translate($x, $y);
}

@mixin text-shadow($top, $left, $blur, $color) {
  -webkit-text-shadow: $top $left $blur $color;
  -moz-text-shadow: $top $left $blur $color;
  -ms-text-shadow: $top $left $blur $color;
  text-shadow: $top $left $blur $color;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin flex() {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -moz-flexbox;      /* NEW - Chrome */
  display: -webkit-flex;
  display: flex;
}

@mixin flex-row() {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-column() {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-wrap(){
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flex-align-item ($align) {
  -webkit-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}
@mixin flex-align-content ($align) {
  -webkit-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
}
@mixin align-self($align) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}

@mixin animation($name, $time, $loop, $time2) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $time;
    -webkit-animation-iteration-count: $loop;
    -webkit-animation-timing-function: $time2;
    
    -moz-animation-name: $name;
    -moz-animation-duration: $time;
    -moz-animation-iteration-count: $loop;
    -moz-animation-timing-function: $time2;

    -ms-animation-name: $name;
    -ms-animation-duration: $time;
    -ms-animation-iteration-count: $loop;
    -ms-animation-timing-function: $time2;
    
    animation-name: $name;
    animation-duration: $time;
    animation-iteration-count: $loop;
    animation-timing-function: $time2;
}
