.footer-section {
  width: $full;
  height: 60px;
  padding-top: 15px;
  display: table;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $color-white;
  font-weight: 300;
  background: $color-black;

  .footer-left-content {
    padding-top: 5px;
    color: $color-white;

    a {
      color: $link-color;
    }
  }

  .footer-right-content {
    text-align: right;

    a {
      color: $link-color;
    }

    .user-link-block {
      color: $color-white;
    }
  }
}