.footer-section {
  width: $full;
  height: 60px;
  padding-top: 20px;
  display: table;
  position: absolute;
  left: 0;
  bottom: 0;
  color: $color-white;
  font-weight: 300;
  background: $color-black;

  .footer-right-content {
    text-align: right;

    a {
      color: $link-color;
    }
  }
}