.header {
  height: 120px;
  border-bottom: solid 1px #cacaca;

  .headerLanguageBlock,
  .headerTopNav {
    padding-top: 20px;
  }

  .headerNavHolder {
    margin-bottom: 0;
  }

  .headerUserLink {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }

  .headerUserBlock {
    margin-left: 20px;
    display: inline-block;
  }

  .headerBottomNavRow {
    margin-top: 20px;
  }

  .headerMainNavHolder {
    padding-top: 10px;
  }
}
