@import 'core/colors.scss';
@import 'core/mixins.scss';
@import 'core/fonts.scss';
@import 'core/icons.scss';
@import 'core/typography.scss';
@import 'core/badge.scss';
@import 'core/btn.scss';
@import 'core/flash-message.scss';
@import 'core/modals.scss';
@import 'core/loader.scss';
@import 'core/animation.scss';

@import 'components/global-header.scss';
@import 'components/global-navigation.scss';
@import 'components/global-footer.scss';
@import 'components/product-tile.scss';
@import 'components/product-details.scss';


@import 'pages/home.scss';
@import 'pages/cart-page.scss';
@import 'pages/user-order.scss';


body {
  background: $bodyBg;
  padding-top: $body-top-space;
}

.row,
.form-group {
  &.no-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  color: $link-color;
  @include transition(all,0.5s);

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.btn {
  @include transition(all,0.3s);

  &:focus {
    outline: none !important;
    @include box-shadow(0,0,0,0 !important) ;
  }

  &.btn-blank {
    background: none;
    color: inherit;
    text-shadow:none;
  }
}
.zoom {
  @include transition(transform,0.5s);
  @include scale(1);

  &:hover {
    @include scale(1.05);    
  }

  &.elem-block {
    display: block;
  }
  &.inline-blocl {
    display: inline-block;
  }
}
.font-dark,
.dark-font,
.dark-color,
.color-dark {
  color: $baseFontColorDark;
}
.padding-top-none {
  padding-top: 0 !important;
}
.padding-bottom-none {
  padding-bottom: 0 !important;
}
.padding-left-none {
  padding-left: 0 !important;
}
.padding-right-none {
  padding-right: 0 !important;
}

.padding-none-horizontal {
  @extend .padding-left-none;
  @extend .padding-right-none;
}

.padding-none-vertical {
  @extend .padding-top-none;
  @extend .padding-bottom-none;
}

.padding-none {
  @extend .padding-none-horizontal;
  @extend .padding-none-vertical;
}

.margin-top-none {
  margin-top: 0 !important;
}
.margin-bottom-none {
  margin-bottom: 0 !important;
}
.margin-left-none {
  margin-left: 0 !important;
}
.margin-right-none {
  margin-right: 0 !important;
}

.margin-none-horizontal {
  @extend .margin-left-none;
  @extend .margin-right-none;
}

.margin-none-vertical {
  @extend .margin-top-none;
  @extend .margin-bottom-none;
}

.margin-none {
  @extend .margin-none-horizontal;
  @extend .margin-none-vertical;
}
.pointer {
  cursor: pointer;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-title {
  font-size: 20px;
  @extend .oswald;
  @extend .font-dark;
  padding: 10px 0;
}
.big-box-heading {
  background: $big-heading-bg;
  font-size: 50px;
  padding: 50px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 1;
  @extend .oswald;

  &.secondary {
    background: $big-heading-secondry-bg;
    padding: 20px 10px;
    font-size:30px;
    font-weight: 400;
  }
  &.spacing {
    margin: 20px 0;
  }
  small {
    font-size: 35%;
    letter-spacing: 1px;
  }
}
.alert {
  padding-top: 10px;
  padding-bottom: 10px;
}
.alert-complete {
  background: $link-color;
  color: #fff;
}
.alert-pending {
  background: yellow;
  color: #fff;
}
.alert-canceled {
  background: red;
  color: #fff;
}
.alert-complete {
  background: $link-color;
  color: #fff;
}
.form-control {
  @include border-radius(0);
  height: 40px;
  @include transition(border, 0.3s);
  &:focus {
    border-color: $form-control-broder-focus-color;
  }

  &.color {
    border: none;
    border-bottom: solid 2px $form-control-broder-color;
    @include box-shadow(0,0,0,0);
  }
}

.img-responsive {
  &.img-center {
    margin: 0 auto;
  }
}

.nav-tabs {
  li {
    &:focus {
      outline: none;
    }

    a {
      color: $baseFontColorDark;
      &:focus {
        outline: none;
        @include box-shadow(0,0,0,0);   
      }
      font-weight: 600;
    }

    &.active {
      a {
        color: $link-color;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }
}

.btn {
  &.cart-big-btn {
    background: $logoBaseBg;
    color: #fff;
    text-shadow:none;
    text-transform: uppercase;
    font-size: 20px;
    margin: 15px 0;
    padding: 15px 30px;
    position: relative;
    @extend .oswald;
    font-weight: 400;

    * {
      @include transition(all, 0.5s);
    }
    .cart-icon {
      position: absolute;
      top: 50%;
      opacity: 0;
      @include translatePos(200%,-50%);
    }
    .cart-text {
      position: relative;
      display: inline-block;
    }

    &:hover,
    &:focus {
      color: #fff;
      background: $logoBaseBg;

      .cart-icon {
        opacity: 1;
        @include translatePos(-20%,-50%);
      }
      .cart-text {
        @include translatePos(-13%,0);
      }
    }
  }
}

.checkbox,
.radio {
  &.inline {
    padding-left: 20px;
  }
}

.form-heading-title {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid $form-heading-title-border;
  text-align: left;
  margin: 0 0 20px;
  padding: 15px 0 10px;

  &.center-heading {
    text-align: center;
  }
  &.no-border{
    border: none;
  }
  &.big {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sm-full-btn {
    width: 100%;
  }
}

@media(max-width: 520px) {
  .visible-xxs {
    display: block;
  }
}
