.global-modal {
  width: $full;
  height: $full;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  background: rgba(0, 0, 0, .7);

  &.show-modal {
    display: block;
  }

  .modal-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $color-white;
    font-size: 30px;
    cursor: pointer;
  }

  .global-modal-title {
    border-bottom: solid 1px $border-grey;
    padding-bottom: 10px;
    color: $color-black;
    font-size: 24px;
    font-weight: 500;
  }

  .global-modal-content {
    width: $full;
    padding-top: 20px;
    display: table;
  }

  .modal-form-row {
    width: $full;
    margin-top: 20px;
    display: table;

    &:first-child {
      margin-top: 0;
    }
  }

  .modal-form-label {
    margin-bottom: 5px;
    display: block;
    color: $color-black;
    font-size: 13px;
    font-weight: 400;
  }

  .form-input {
    width: $full;
    height: 40px;
    border: solid 1px $border-grey;
    padding: 0 10px;
    color: $color-black;
    font-size: 13px;
    background-color: $color-white;
    @include transition(all, 0.3s, ease-in-out);

    &:focus {
      border-color: $color-black;
    }
  }

  @media (max-width: 767px) {
    .modal-close-button {
      top: 15px;
      right: 10px;
    }
  }
}

.user-login-modal, .user-signup-modal{
  width: 600px;
  margin-left: -300px;
  padding: 20px 30px;
  position: absolute;
  top: 150px;
  left: 50%;
  background: $color-white;

  @media (max-width: 767px) {
    width: 94%;
    margin-left: 0;
    padding: 15px;
    top: 50px;
    left: 3%;
  }
}
