$color-white: #fff;
$color-black: #000;
$link-color: #4eaf79;
$border-grey: #E1E1E1;
$light-grey-bg: #f7f7f9;
$color-error-red: #d91604;
$dark-grey-text : #2b2b2b;

$roboto: 'Roboto', sans-serif;
$oswald: 'Oswald', sans-serif;

$full: 100%;
